//
// general
// --------------------------------------------------
.hidden {
    display: none;
}

/*-_-_-_-_-_-_- slider -_-_-_-_-_-_- */
.bx-wrapper {
	.bx-viewport { background: none; border:0; box-shadow:none; left:0;}
}
