# Created by https://www.toptal.com/developers/gitignore/api/wordpress
# Edit at https://www.toptal.com/developers/gitignore?templates=wordpress

### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes


# End of https://www.toptal.com/developers/gitignore/api/wordpress
dump/ratelyan_portfolio_2022-08-04_09-43-58.sql
dump/ratelyan_portfolio_2022-08-04_09-43-58.sql.zip
wp-content/backup-db/.htaccess
wp-content/backup-db/912a3eeba27859d7171b3d9cf55fd4d3_-_1656692595_-_ratelyan_portfolio.sql.gz
wp-content/backup-db/7886471a277979ecf33292dfd6366a7c_-_1657902091_-_ratelyan_portfolio.sql.gz
wp-content/backup-db/d0a0ff1317eeaeaaffdef6de23097aa7_-_1659112284_-_ratelyan_portfolio.sql.gz
wp-content/backup-db/index.php
robots.txt
